.cart-container {
  display: flex;
  justify-content: center;
  min-height: 75vh;
}

@media screen and (min-width: 768px) {
  .cart-container {
    min-height: 90vh;
  }
}

.cart-content-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 80%;
    max-width: 1110px;
  }
}

.cart-heading {
  color: #3e4c59;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .cart-heading {
    font-size: 48px;
  }
}

/* Write your CSS here */
.remove-all-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  color: #0b69ff;
  font-family: 'Roboto';
  align-self: flex-end;
  font-size: 18px;
}

.summary-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-self: flex-end;
}

.total-text {
  color: #616e7c;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 0;
  font-weight: 500;
}

.bill-amount {
  color: #171f46;
  font-size: 25px;
  font-family: 'Roboto';
  margin: 0;
  font-weight: 600;
}

.count-text {
  color: #616e7c;
  font-size: 14px;
  font-family: 'Roboto';
  margin-top: 3px;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  height: 30px;
}

.modal {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  padding: 10px 5px;
  width: 500px;
  background-color: #171f46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
@media (min-width: 768px) {
  .modal > .content {
    padding: 10px 5px;
    width: 500px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}

.modal > .content {
  padding: 10px 5px;
  width: 300px;
  background-color: #171f46;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #ffffff;
}

.paymentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.modal-heading {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}
